data/
wandb/
checkpoints/
__pycache__/
*.pyc
*.pkl
*.log
*.csv
*.h5
*.ckpt
.env
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/
*.pth
myvenv/
myenv/
myenv/
.pytest_cache/
bartphobeit/.pytest_cache/
predictions_epoch.json
.coverage
best_vqa_model.pth